@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: $font-main;
  
  font-weight: 400;

  background-color: $color-white;
}

.container {
  max-width: 1170px !important;
}
/* ============== BUTTON ============== */

.button {
}

/* ============== /BUTTON ============== */

/* ============== BURGER ============== */

/* ============== /BURGER ============== */
