// font-family: 'Poppins', sans-serif;

// FONTS
$font-main: "Poppins", sans-serif;

// COLORS
$color-main: #000000;
$color-accent: #070707;
$color-gray: #828282;
$color-white: #ffffff;
$color-hover: #606060;
$color-bg: #f1f1f1
